.setnewpasswordform {
  /* no-repeat center center fixed; */
  height: 100vh;

  background-size: cover;
}
.setnewpasswordform label {
  font-weight: 550;
  padding-left: 0px;
  padding-bottom: 3px;
}
.setnewpasswordform input {
  width: auto;
  height: auto;
  border-width: 1px;
  border-radius: 15px;
  border: 2.3px solid #2770a1;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding-left: 5px;
}
.setnewpasswordbtn {
  /* 
  
  
  background-color: rgb(36, 37, 93);
  border: none;
 
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  /* font-size: larger; */
  /* border-radius: 9px;  */

  display: block;
  margin-top: 20px;
  margin: auto;
  text-align: center;
  width: 90px;
  height: 35px;
  border-radius: 35px;
  color: #fff;
  border: 2px solid #038a3b;
  font-size: medium;
  background-color: rgb(13, 98, 195);
}
.setnewpasswordbtn:hover {
  background-color: rgb(40, 42, 179);
  color: aliceblue;
}
.setnewpasswordform h3 {
  text-align: center;
  padding-bottom: 15px;
}
.setpassword-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  background: linear-gradient(
    95deg,
    rgb(31, 140, 204) 0%,
    rgb(96, 215, 223) 100%
  );
}
.setpasswordcard-container {
  box-shadow: 0px 4px 9px 0px rgba(115, 115, 146, 0.705);
  max-width: 350px;
  margin: auto;
  /* text-align: center; */
  font-family: arial;
  /* margin-top: 25px; */
  padding: 1rem 2.2rem;
  border-radius: 20px;
  background-color: #fff;
  /* background: linear-gradient(
      45deg,
      rgba(213, 224, 238, 0.89) 0%,
      rgba(255, 255, 255, 0.26) 100%
    ); */
}
